* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
  font-size: 1.6rem;
}
a:hover {
  color: orange;
}

header {
  position: relative;
  padding: 0 2rem;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(249, 243, 251, 1) 0%,
    rgba(255, 250, 236, 1) 61%
  );
}
.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo a {
  font-size: 2.5rem;
  font-weight: 700;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: orange;
  color: #fff;
  padding: 0.9rem 1.6rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.6rem;
}
.action_btn:hover {
  background-color: #ff8c00;
  scale: 1.05;
  color: #fff;
}

.action_btn:active {
  scale: 0.05;
}

/* DROPDOWN MENU */

.dropdown_menu {
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 100;
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }
  @media screen and (max-width: 576px) {
    .dropdown_menu {
      left: 2rem;
      width: unset;
    }
  }
}
