/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap");

/* Resetting default styles and setting base font size */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%; /* Adjusts base font size to 10px */
}

/* Define color variables in :root */
:root {
  --primary-color: #6ec1e4;
  --secondary-color: #54595f;
  --text-color: #7a7a7a;
  --accent-color: #61ce70;
  --primary-font-family: "Roboto";
  --primary-font-weight: 600;
  --secondary-font-family: "Roboto Slab";
  --secondary-font-weight: 400;
  --text-font-family: "Roboto";
  --text-font-weight: 400;
  --accent-font-family: "Roboto";
  --accent-font-weight: 500;
}

/* Body styles */
body {
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: #fff;
}

/* Top hero section styles */
.top-hero-bg {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(249, 243, 251, 1) 0%,
    rgba(255, 250, 236, 1) 61%
  );
  padding-bottom: 4rem;
}

/* Hero section styles */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  height: 100vh; /* Changed from 100dvh to 100vh */
  padding: 8rem;
  position: relative;
}

/* Hero content styles */
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-top: 20rem;
}

/* Hero content heading styles */
.hero-content h1 {
  font-size: 6.2rem;
  font-weight: 700;
  color: #1a1a1a;
  line-height: 1.1em;
  letter-spacing: 2px;
  padding-right: 10rem;
  font-family: "Raleway", sans-serif;
}

/* Responsive styling for smaller screens */
@media (max-width: 767px) {
  .hero-content h1 {
    font-size: 40px;
    line-height: 1.25em;
    letter-spacing: 0px;
  }
}

/* Hero description styles */
.hero-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5rem;
  font-family: "Inter", sans-serif;
}

/* Hero description paragraph styles */
.hero-description p {
  font-size: 2.4rem;
  font-weight: 800;
  color: #4cca8d;
  text-transform: uppercase;
}

/* Hero text description styles */
.hero-text-description {
  line-height: 1.8em;
  color: #4f4f4f;
  font-family: "DM Sans", sans-serif;
  font-size: 1.9rem;
  font-weight: 400;
  padding: 2rem 0;
  width: 80%;
}

/* Hero description image styles */
.hero-description img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

/* Start now button styles */
.start-now-btn,
.crypto-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #ffffff;
  background-color: #fa4f09;
  border: solid 0px #fa4f09;
  border-radius: 30px;
  box-shadow: 0px 10px 20px 0px rgba(255, 255, 255, 0);
  padding: 17px 40px;
  cursor: pointer;
}

.start-now-btn:hover {
  background-color: #2e9e7d;
  border-color: #2e9e7d;
  box-shadow: 0px 10px 20px 0px rgba(46, 159, 126, 0.28);
}

/* Hero bottom description styles */
.hero-description-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10rem;
  font-family: "Inter", sans-serif;
}

/* Divider between sections */
.hero-description-bottom .divider {
  width: 1px;
  height: 50px;
  background-color: #797a80;
  margin: 0 4rem;
}

/* Styles for the left side of Hero bottom section */
.hero-description-bottom .side-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

/* Heading styles in the left side of Hero bottom section */
.hero-description-bottom .side-1 p {
  font-size: 4.6rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

/* Subtitle styles in the left side of Hero bottom section */
.hero-description-bottom .side-1 span {
  color: #797a80;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

/* Hero image section styles */
.hero-img-section {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  position: relative;
}

/* Card image styles in Hero image section */
.hero-img-section .card-img {
  position: relative;
  margin-top: 22rem;
}

/* Image styles inside the card */
.hero-img-section .card-img img {
  transform: scale(1.2);
  width: 90%;
  height: 90%;
}

/* Bouncing animation keyframes */
@keyframes bounceUpDown {
  0% {
    transform: translateY(0) scale(0.2);
  }
  50% {
    transform: translateY(-10px) scale(0.2);
  }
  100% {
    transform: translateY(0) scale(0.2);
  }
}

/* Bitcoin and balls animation styles */
.hero-img-section .bitcoin-img,
.hero-img-section .ball-2,
.hero-img-section .ball-3,
.hero-img-section .ball-4 {
  position: absolute;
  z-index: 10;
  transform: scale(0.2);
  animation: bounceUpDown 2s infinite alternate;
}

/* Position of Bitcoin image */
.hero-img-section .bitcoin-img {
  top: -10%;
  left: -15%;
}

/* Position of Ball 2 */
.hero-img-section .ball-2 {
  right: -5%;
  top: -25%;
}

/* Position of Ball 3 */
.hero-img-section .ball-3 {
  left: 25%;
  top: -25%;
  transform: scale(0.5);
}

/* Position of Ball 4 */
.hero-img-section .ball-4 {
  left: 25%;
  top: -27%;
}

/* How to use section styles */
.how-to-use {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6rem 4rem;
  background-color: #fefefd;
  margin: 6rem auto;
  width: 90%;
  border-radius: 4rem;
}

/* Image styles in How to use section */
.register-img img,
.connect-img img,
.start-img img {
  width: 10rem;
  height: 10rem;
}

/* Section content styles in How to use section */
.register-section,
.connect-your-wallet,
.start-trading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  gap: 4rem;
  border-radius: 1rem;
}

/* Heading styles in section content */
.register-content h2,
.connect-content h2,
.start-content h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  color: #1a1a1a;
  margin-bottom: 1.4rem;
}

/* Paragraph styles in section content */
.register-content p,
.connect-content p,
.start-content p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #4f4f4f;
  text-wrap: wrap;
}

/* Testimonial and What We Do section container styles */
.testimonial-container {
  background: linear-gradient(
      217deg,
      rgba(247, 237, 247, 1),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(237, 246, 239, 1), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(248, 248, 248, 1), rgba(0, 0, 255, 0) 70.71%);
}

/* What We Do section styles */
.what-we-do {
  max-height: 590px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(249, 243, 251, 1) 0%,
    rgba(255, 250, 236, 1) 61%
  );
}

/* Container styles for Testimonial and What We Do sections */
.testimonial-content,
.what-we-do {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  gap: 10rem;
}

/* Image styles for Testimonial and What We Do sections */
.testimonial-img,
.what-we-do-img {
  width: 50%;
}

/* Image styles for Testimonial and What We Do sections */
.testimonial-img img,
.what-we-do-img img {
  width: 100%;
  height: 100%;
}

/* Scaling of image in What We Do section */
.what-we-do-img img {
  transform: scale(0.8);
}

/* Text container styles for Testimonial and What We Do sections */
.testimonial-text,
.what-we-do-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 4rem 4rem;
  width: 70%;
}

/* Heading styles for Testimonial and What We Do sections */
.testimonial-text h2,
.what-we-do-text h2 {
  font-family: "Raleway", sans-serif;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.1em;
  color: #1a1a1a;
  margin-bottom: 1.4rem;
}

/* Subheading styles for Testimonial and What We Do sections */
.testimonial-text h4,
.what-we-do-text h4 {
  color: #36bb91;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.4em;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

/* Paragraph styles for Testimonial and What We Do sections */
.testimonial-text p,
.what-we-do-text p {
  color: #4f4f4f;
  font-family: "DM Sans", sans-serif;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.8em;
  letter-spacing: 0;
  margin-bottom: 2rem;
}

/* Learn more button styles */
.learn-more-btn {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #ffffff;
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a57;
  border-radius: 30px;
  box-shadow: 0px 10px 20px 0px rgba(255, 255, 255, 0);
  padding: 17px 40px;
  cursor: pointer;
}

.learn-more-btn:hover {
  background-color: #2e9e7d;
  border-color: #2e9e7d;
  box-shadow: 0px 10px 20px 0px rgba(46, 159, 126, 0.28);
}

/* Testimonial card container styles */
.testimonial-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 4rem 4rem;
  width: 90%;
  margin: 0 auto;
}

/* Testimonial card styles */
.testiomial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
  background-color: #fefefd;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Stars container styles in Testimonial card */
.testimonial-stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.testiomial-card p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.8em;
  letter-spacing: 0;
  margin-bottom: 2rem;
}
.testimonial-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.textiomial-card-name {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.3rem;
}
.textiomial-card-name h4 {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}
.textiomial-card-name p {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.testiomial-card-img img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-bottom: auto;
}

/* FOOTER ENDS */
/* JOIN US CRYPTO */
.crypto-investment-container {
  background: rgb(236, 240, 252);
  background: linear-gradient(
    180deg,
    rgba(236, 240, 252, 1) 0%,
    rgba(251, 248, 240, 1) 71%
  );
  margin: 0;
  padding: 4rem 0;
}
.crypto-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 6rem 4rem;
  /* background-color: #fefefd; */
  margin: 6rem auto;
  width: 90%;
  border-radius: 4rem;
  border: 1px solid #2a2b3169;
}
.crypto-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0 2rem;
  gap: 4rem;
  border-radius: 1rem;
}
.crypto-title {
  font-family: "Raleway", sans-serif;
  font-size: 4.3rem;
  font-weight: 800;
  color: #1a1a1a;
  margin-bottom: 1.4rem;
}
.crypto-description {
  font-family: "DM Sans", sans-serif;
  font-size: 2rem;
}
.crypto-button {
  width: fit-content;
  margin: auto;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  .top-hero-bg {
    padding-bottom: 1rem;
  }
  .hero-section {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
  }
  .hero-content {
    padding-top: 0rem;
    text-align: center;
    align-items: center;
  }
  .hero-content h1 {
    padding: 0rem;
  }
  .hero-description p {
    font-size: 1.4rem;
    word-spacing: 3px;
  }
  .hero-text-description {
    width: 100%;
    font-size: 1.6rem;
  }
  .hero-img-section {
    justify-content: center;
    align-items: center;
  }

  .hero-img-section .card-img {
    position: relative;
    margin-top: 0rem;
    margin: auto;
  }
  .hero-img-section .bitcoin-img {
    top: 15%;
    left: 5%;
    transform: scale(0.2);
  }
  .hero-img-section .ball-2 {
    right: -20%;
    top: -35%;
    transform: scale(0.2);
  }
  .hero-img-section .ball-4 {
    left: 0%;
    top: -55%;
    transform: scale(0.2);
  }
  .hero-img-section .ball-3 {
    position: absolute;
    left: 2%;
    top: -20%;
    z-index: 10;
    transform: scale(0.17);
  }
  .how-to-use {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    border-radius: 1rem;
    width: 90%;
    gap: 4rem;
  }
  .register-section,
  .connect-your-wallet,
  .start-trading {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    gap: 2rem;
    text-align: center;
  }
  .what-we-do {
    max-height: fit-content;
  }
  .testimonial-content,
  .what-we-do {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 4rem;
    gap: 4rem;
  }
  .testimonial-text,
  .what-we-do-text {
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .testimonial-text h4,
  .testimonial-text p,
  .what-we-do-text h4,
  .what-we-do-text p {
    width: 100%;
    text-align: center;
  }
  .learn-more-btn {
    margin: 2rem auto;
  }
  /* TESTIMONIAL */
  .testimonial-card-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0;
    width: 90%;
    margin: 0 auto;
  }
  .what-we-do-img img {
    transform: scale(1);
  }
  .testimonial-text h2,
  .what-we-do-text h2 {
    font-size: 3.5rem;
  }
  .testimonial-text p,
  .what-we-do-text p {
    font-size: 1.6rem;
  }
  .crypto-content {
    grid-template-columns: 1fr;
    padding: 3rem 1rem;
    gap: 4rem;
  }
  .crypto-text {
    padding: 0;
    text-align: center;
    gap: 1rem;
  }
  .crypto-title {
    font-size: 3.2rem;
    font-weight: 500;
    padding: 0;
    text-align: center;
    line-height: normal;
    margin-bottom: 0;
  }
  .crypto-description {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0;
    text-align: center;
    line-height: normal;
    width: 100%;
  }
}
