{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buy and Sell Crypto</title>
    <link rel="stylesheet" href="{%static 'assets/css/dashboard.css' %}" />
  </head>
  <body>
    <!-- =============== Navigation ================ -->
    <div class="container">
      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="logo-apple"></ion-icon>
              </span>
              <span class="title">Degentralizd</span>
            </a>
          </li>

          <li>
            <a href="{% url 'portfolio' %}">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title dashboard-title">Dashboard</span>
            </a>
          </li>

          

          

          <li>
            <a href="{% url 'buy_crypto' %}">
              <span class="icon">
                <ion-icon name="card"></ion-icon>
              </span>
              <span class="title">Buy and Sell Crypto</span>
            </a>
          </li>
          <li>
            <a href="{% url 'withdraw' %}">
              <span class="icon">
                <ion-icon name="card"></ion-icon>
              </span>
              <span class="title">Wallet Withdraw</span>
            </a>
          </li>
          <li>
            <a href="{% url 'how_it_works' %}">
              <span class="icon">
                <ion-icon name="chatbubble-outline"></ion-icon>
              </span>
              <span class="title">How It Works</span>
            </a>
          </li>

          

          

          <li>
            <a href="{% url 'support' %}">
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              <span class="title">Support</span>
            </a>
          </li>

          <li>
            <a href="{% url 'logout' %}">
              <span class="icon">
                <ion-icon name="log-out-outline"></ion-icon>
              </span>
              <span class="title">Sign Out</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- ========================= Main ==================== -->
      <div class="main">
        <div class="topbar">
          <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
          </div>

          

         
        </div>

        <!-- ==================== Page Header ================== -->
        <div class="pageHeader">
          <h2></h2>
        </div>

        <!-- ======================= Cards ================== -->
        <div class="cardBox-how-it-works">
          <div class="card-1">
            <div>
              <!-- <div class="numbers-1">How It Works</div> -->
              <div class="cardName-1">Hello there, Welcome to Decentralizd, where we make things easy for you with our fancy AI-based crypto trader. Now, let me walk you through this page. <br>

                <br>Up in the top right corner, see those three little bars? They're like your magic wand for moving around the website. You can click there to find everything - from getting your assets to taking out your money and understanding all the techy stuff. <br>
                
                <br>We're here for you all the time, 24/7. If you need help or have questions, just let us know. Now, let me tell you how this works: We use super-smart computer programs to figure out the best ways to make money with crypto. It's like having a little robot that learns and makes sure everything is safe. Our system is so good; it's like having a crystal ball for making profits! <br>
                
                <br>We've got three plans: Starter, Basic, and Pro. You can start with as little as $500, and the profits come in a week later. Simple, right? To get started, just click 'Buy Crypto.' After a few clicks, your account is ready to go. <br>
                
                <br>In your account, you'll see how much money you have in Bitcoin and dollars. We even pick up some extra goodies for you through something called airdrops. Your transactions are neatly listed so you can keep track. <br>
                
                <br>When you're ready to take money out, just head to the wallet page and shoot us an email at support@decentralized.online. We're quick to respond, and your money will be right there in your account. <br>
                
                <br>Thanks a bunch for choosing Decentralized. If you ever run into any problems, just give us a shout. We're here to make things easy for you!</div>
            </div>

            
          </div>

          

          <!-- <div class="card">
            <div>
              <div class="numbers">$7,842</div>
              <div class="cardName">Earning</div>
            </div>

            <div class="iconBx">
              <ion-icon name="cash-outline"></ion-icon>
            </div>
          </div> -->
        </div>

        <!-- ================ Order Details List ================= -->
        
      </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="{%static 'assets//js/dashboard.js' %}"></script>

    <!-- ====== ionicons ======= -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
