{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'assets/css/login.css' %}" />
    <link rel="stylesheet" href="{%static 'assets/css/footer.css' %}" />
    <link rel="stylesheet" href="{%static 'assets/css/nav.css' %}" />

    <title>Degentralizd</title>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="top-nav" id="topNav">
      <button class="hamburger" id="hamburger">&#9776;</button>
      <a href="{% url 'home' %}">
        <p class="logo">Degentralizd</p>
      </a>
      
    
      <ul class="menu" id="menu">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'home' %}">How It Works</a></li>
        <li><a href="{% url 'home' %}">What We Do</a></li>
        
        <li>
          <a href="{% url 'signin' %}">
            <button class="login-btn">Buy now</button>
          </a>
        </li>
      </ul>
    </nav>

    <section class="login-section">
      <p class="login-header">Log in to Degentralizd</p>
      <form action = "" method="POST" class="login-form">
        <h2>Login</h2>
        {%csrf_token%}
        <div class="input-group">
          <label for="username">Username or email address</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password"  required />
        </div>

        <button type="submit">Login</button>
        <a id="forgot-password" href="{% url 'register' %}">Don't have an account? Register</a>
      </form>
    </section>

    <!-- FOOTER -->
    <footer>
      <div class="footer-container">
        <div class="upper-part grid-container">
          <div class="grid-item">
            <h3>Degentralizd</h3>
            <p>Connect our AI to your exchange account and mine crypto and airdrops automatically.</p>
          </div>
          <div class="grid-item">
            <h4>Contact us</h4>
            <p>Email:alex@company.com</p>
          </div>
          <div class="grid-item">
            <h4>Sign up for email updates</h4>
            <input type="email" placeholder="Enter your email address" />
            <p>Sign up with your email address to receive news and updates</p>
          </div>
        </div>
        <div class="lower-part"></div>
      </div>
      <div class="bottom-footer">
        <div class="footer-left">
          <p>&copy;Degentralizd. All rights reserved.</p>
        </div>
      </div>
    </footer>
    <script src="{%static 'assets/js/script.js' %}"></script>
  </body>
</html>
